[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab
[submodule ".vim/bundle/coffee-script"]
	path = .vim/bundle/coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule ".vim/bundle/vim-surround"]
	path = .vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vim-commentary"]
	path = .vim/bundle/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/bundle/vim-tabular"]
	path = .vim/bundle/vim-tabular
	url = https://github.com/godlygeek/tabular.git
[submodule ".vim/bundle/vim-javascript-syntax"]
	path = .vim/bundle/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/bundle/vim-rooter"]
	path = .vim/bundle/vim-rooter
	url = https://github.com/airblade/vim-rooter.git
[submodule ".vim/bundle/vim-ack"]
	path = .vim/bundle/vim-ack
	url = https://github.com/mileszs/ack.vim.git
[submodule ".vim/bundle/vim-endwise"]
	path = .vim/bundle/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule ".vim/bundle/vim-repeat"]
	path = .vim/bundle/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/bundle/elixir-lang"]
	path = .vim/bundle/elixir-lang
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule ".vim/bundle/vim-airline-themes"]
	path = .vim/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/bundle/vim-fzf"]
	path = .vim/bundle/vim-fzf
	url = https://github.com/junegunn/fzf.vim.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-nerdtree"]
	path = .vim/bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-monokai"]
	path = .vim/bundle/vim-monokai
	url = https://github.com/crusoexia/vim-monokai.git
