[submodule ".vim/pack/bundles/start/supertab"]
	path = .vim/pack/bundles/start/supertab
	url = https://github.com/ervandew/supertab
[submodule ".vim/pack/bundles/start/vim-surround"]
	path = .vim/pack/bundles/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/bundles/start/vim-markdown"]
	path = .vim/pack/bundles/start/vim-markdown
	url = https://github.com/tpope/vim-markdown
[submodule ".vim/pack/bundles/start/vim-commentary"]
	path = .vim/pack/bundles/start/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule ".vim/pack/bundles/start/tabular"]
	path = .vim/pack/bundles/start/tabular
	url = https://github.com/godlygeek/tabular
[submodule ".vim/pack/bundles/start/vim-javascript-syntax"]
	path = .vim/pack/bundles/start/vim-javascript-syntax
	url = https://github.com/jelera/vim-javascript-syntax
[submodule ".vim/pack/bundles/start/vim-airline"]
	path = .vim/pack/bundles/start/vim-airline
	url = https://github.com/bling/vim-airline
[submodule ".vim/pack/bundles/start/vim-rooter"]
	path = .vim/pack/bundles/start/vim-rooter
	url = https://github.com/airblade/vim-rooter
[submodule ".vim/pack/bundles/start/ack.vim"]
	path = .vim/pack/bundles/start/ack.vim
	url = https://github.com/mileszs/ack.vim
[submodule ".vim/pack/bundles/start/vim-endwise"]
	path = .vim/pack/bundles/start/vim-endwise
	url = https://github.com/tpope/vim-endwise
[submodule ".vim/pack/bundles/start/vim-repeat"]
	path = .vim/pack/bundles/start/vim-repeat
	url = https://github.com/tpope/vim-repeat
[submodule ".vim/pack/bundles/start/vim-airline-themes"]
	path = .vim/pack/bundles/start/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes
[submodule ".vim/pack/bundles/start/fzf.vim"]
	path = .vim/pack/bundles/start/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule ".vim/pack/bundles/start/vim-colors-solarized"]
	path = .vim/pack/bundles/start/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule ".vim/pack/bundles/start/nerdtree"]
	path = .vim/pack/bundles/start/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule ".vim/pack/bundles/start/vim-monokai"]
	path = .vim/pack/bundles/start/vim-monokai
	url = https://github.com/crusoexia/vim-monokai
[submodule ".vim/pack/bundles/start/GoldenView.Vim"]
	path = .vim/pack/bundles/start/GoldenView.Vim
	url = https://github.com/zhaocai/GoldenView.Vim
